.setup-env

.env.*
.vscode
.vscode/mcp.json

.claude/

# avoid commiting rendered manifests
infra-setup/manifests/rendered/*

crossplane-gke-sa-key.json

claude_desktop_config.json
claude_desktop_config_mcp.json

CLAUDE.md
